@{
    ViewData["Title"] = "Index";
}
<h1></h1>
<div class="container mt-lg-5">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 border border-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#home" class="nav-link active" data-bs-toggle="tab">Transaction</a>
                </li>
                <li class="nav-item">
                    <a href="#profile" class="nav-link" data-bs-toggle="tab">Report</a>
                </li>
                <li class="nav-item">
                    <a href="#messages" class="nav-link" data-bs-toggle="tab">Maintenance</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="home">
                    <form method="post">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Barge</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select name="transferlist[0].Transfer.Status" class="form-control">
                                        <option value="In">In</option>
                                        <option value="Out">Out</option>
                                        <option value="Last switched">Last switched</option>
                                        <option value="To Bill">To Bill</option>
                                        <option value="Billed">Billed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Rate</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Owner</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Transaction</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <a asp-action="" asp-controller="" class="btn btn-secondary">add new trans-</a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <a asp-action="" asp-controller="" class="btn btn-secondary">pre.to export trans-</a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <a asp-action="" asp-controller="" class="btn btn-secondary">del.this trans-</a>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-2">
                                <h3 class="text-center">Transfer:</h3>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <a asp-action="" asp-controller="" class="btn btn-secondary">pre- trans- summ-</a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <a asp-action="" asp-controller="" class="btn btn-secondary">print trans- summ-</a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <a asp-action="" asp-controller="" class="btn btn-secondary">update days</a>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="dynamicTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>from date-time</th>
                                            <th>to date-time</th>
                                            <th>status</th>
                                            <th>fleet days</th>
                                            <th>ins- from date</th>
                                            <th>ins- days</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input name="transferlist[0].Transfer.From" type="datetime-local" class="form-control" />
                                            </td>
                                            <td>
                                                <input name="transferlist[0].Transfer.To" type="datetime-local" class="form-control" />
                                            </td>
                                            <td>
                                                <select name="transferlist[0].Transfer.Status" class="form-control">
                                                    <option value="In">In</option>
                                                    <option value="Out">Out</option>
                                                    <option value="Last switched">Last switched</option>
                                                    <option value="To Bill">To Bill</option>
                                                    <option value="Billed">Billed</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input name="transferlist[0].Transfer.DaysIn" class="form-control" />
                                            </td>
                                            <td>
                                                <input name="transferlist[0].Transfer.FromIns" type="datetime-local" class="form-control" />
                                            </td>
                                            <td>
                                                <input name="transferlist[0].Transfer.InsuranceDays" class="form-control" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a id="addRowButton" class="btn btn-primary">Add Row</a>
                                <button type="submit" class="btn btn-success float-end">Save Transfers</button>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="tab-pane fade" id="profile">
                    <p>Profile tab content ...</p>
                </div>
                <div class="tab-pane fade" id="messages">
                    <p>Messages tab content ...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

